{{#partial "content"}}

<h1>Speaker</h1>
<p>{{ speakers.firstName }} {{ speakers.lastName }}</p>
<h3>Background</h3>
<p>{{ speakers.background }}</p>

<p> <a href="/events/:eventId/speakers/:speakerId/update">Edit this speaker</a><br>
    <a href="/events/{{speakers.eventId}}/speakers/{{speakers.id}}/delete">DELETE this speaker (no undo)</a>
</p>

{{/partial}}

{{> layout.hbs}}